.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__pnme7 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__pnme7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__pnme7 > :global(.__wab_flex-container) > *,
.freeBox__pnme7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pnme7 > :global(.__wab_flex-container) > picture > img,
.freeBox__pnme7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pnme7 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pnme7 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pnme7 > :global(.__wab_flex-container) > *,
  .freeBox__pnme7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pnme7 > :global(.__wab_flex-container) > picture > img,
  .freeBox__pnme7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__teJtl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__teJtl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__teJtl > :global(.__wab_flex-container) > *,
.freeBox__teJtl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__teJtl > :global(.__wab_flex-container) > picture > img,
.freeBox__teJtl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___6HEz {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.text__aMbDd {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__bQrev {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__kb7Pb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__v5MjW:global(.__wab_instance) {
  position: relative;
}
.svg__dU8SE {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__t6A1Z {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__ly5Tz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__ly5Tz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ly5Tz > :global(.__wab_flex-container) > *,
.freeBox__ly5Tz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ly5Tz > :global(.__wab_flex-container) > picture > img,
.freeBox__ly5Tz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__szfxN {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__bk0EL {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__bk0EL > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__bk0EL > :global(.__wab_flex-container) > *,
.freeBox__bk0EL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bk0EL > :global(.__wab_flex-container) > picture > img,
.freeBox__bk0EL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__kDFyj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg___0My4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__oWZaM:global(.__wab_instance) {
  position: relative;
}
.svg__bb3Ed {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text__wuuEg {
  height: auto;
}
.svg__xkUSd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ruxdg:global(.__wab_instance) {
  position: relative;
}
.svg__usBoC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text__oR0O {
  height: auto;
}
.svg__wXgCw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__zuBsb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__zuBsb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__zuBsb > :global(.__wab_flex-container) > *,
.freeBox__zuBsb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zuBsb > :global(.__wab_flex-container) > picture > img,
.freeBox__zuBsb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__zJoU6 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__h74B {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox___67Ce {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___67Ce > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___67Ce > :global(.__wab_flex-container) > *,
.freeBox___67Ce > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___67Ce > :global(.__wab_flex-container) > picture > img,
.freeBox___67Ce
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__kYmGe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bt89V {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__wLO:global(.__wab_instance) {
  position: relative;
}
.svg__wauCk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__n8O9T {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__qbxIg:global(.__wab_instance) {
  position: relative;
}
.svg__k5D5Y {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__n96P {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__rK7H4:global(.__wab_instance) {
  position: relative;
}
.svg__ycVwG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2ZMgb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__uAl5D {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__uAl5D > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__uAl5D > :global(.__wab_flex-container) > *,
.freeBox__uAl5D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uAl5D > :global(.__wab_flex-container) > picture > img,
.freeBox__uAl5D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.button__oWlD:global(.__wab_instance) {
  position: relative;
}
.svg__nLqmv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lORw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ewR2X:global(.__wab_instance) {
  position: relative;
}
.svg__nIpTa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jbPpS {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__hJf1R:global(.__wab_instance) {
  position: relative;
}
.svg__g66Fx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fReuf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.copyrightSocialLanguage:global(.__wab_instance) {
  position: relative;
}
