.root {
  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.img {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 200px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    position: relative;
    left: auto;
    top: auto;
  }
}
.freeBox___1DwGw {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  padding: 32px;
}
.freeBox___1DwGw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___1DwGw > :global(.__wab_flex-container) > *,
.freeBox___1DwGw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1DwGw > :global(.__wab_flex-container) > picture > img,
.freeBox___1DwGw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1DwGw {
    position: relative;
    left: auto;
    top: auto;
  }
}
.link {
  display: flex;
  flex-direction: row;
}
.freeBox__oj45C {
  display: flex;
  position: relative;
}
.slotTargetTitle {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre-wrap;
  color: #333333;
}
.freeBox__pgzRt {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
}
.slotTargetProductNumber {
  color: #666666 /* plasmic-token: 54ujqX957yeC */;
}
.freeBox__nrWpK {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__s5CYt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox___1WlTa {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___1WlTa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___1WlTa > :global(.__wab_flex-container) > *,
.freeBox___1WlTa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1WlTa > :global(.__wab_flex-container) > picture > img,
.freeBox___1WlTa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__uR1Ch {
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.svg__jKosu {
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
