.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section__s2ZS3 {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 128px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__s2ZS3 {
    padding-bottom: 0px;
  }
}
.img {
  position: absolute;
  width: 100%;
  opacity: 0.25;
  min-width: 0;
}
.container3 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.container3 > :global(.__wab_flex-container) > *,
.container3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container3 > :global(.__wab_flex-container) > picture > img,
.container3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__oEvha {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__oEvha > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__oEvha > :global(.__wab_flex-container) > *,
.freeBox__oEvha > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oEvha > :global(.__wab_flex-container) > picture > img,
.freeBox__oEvha
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__rswSd {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__rswSd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__rswSd > :global(.__wab_flex-container) > *,
.freeBox__rswSd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rswSd > :global(.__wab_flex-container) > picture > img,
.freeBox__rswSd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h1 {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 1.25;
  position: relative;
  text-align: center;
}
.text__hUNk {
  width: 100%;
  height: auto;
  text-align: center;
  color: #333333 /* plasmic-token: Qqw8-klMkDl5 */;
  min-width: 0;
}
.button__mL2ZM:global(.__wab_instance) {
  position: relative;
}
.svg__dLpuQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fcrdk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__syFcu {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
  padding: 32px;
}
.container4 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__iGk87 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__vNxCu {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__izps2:global(.__wab_instance) {
  position: relative;
}
.svg__qWxpD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ex7Ot {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container > :global(.__wab_flex-container) > picture > img,
.container
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
.productCard__oegr2:global(.__wab_instance) {
  position: relative;
}
.svg__heWFp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__er39G {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__bxsfx {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
  height: auto;
}
.text___7Cc5I {
  width: 100%;
  height: auto;
  text-align: left;
  color: #666666 /* plasmic-token: 54ujqX957yeC */;
  min-width: 0;
}
.rating__fl8Ar:global(.__wab_instance) {
  position: relative;
}
.productCard__hm7Yu:global(.__wab_instance) {
  position: relative;
}
.svg__hbz9V {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mUoyc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___1ZoXm {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__k92HV {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 54ujqX957yeC */;
  text-align: left;
  min-width: 0;
}
.rating___921Nv:global(.__wab_instance) {
  position: relative;
}
.productCard__u7B2W:global(.__wab_instance) {
  position: relative;
}
.svg__d5Rh1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__csKZj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__mr62I {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___2SEiR {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 54ujqX957yeC */;
  text-align: left;
  min-width: 0;
}
.rating__qJtOc:global(.__wab_instance) {
  position: relative;
}
.productCard___0Dubm:global(.__wab_instance) {
  position: relative;
}
.svg__dyKn4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jE89S {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__qGJr {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___7XNfp {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 54ujqX957yeC */;
  text-align: left;
  min-width: 0;
}
.rating__tklHq:global(.__wab_instance) {
  position: relative;
}
.productCard___9XEIy:global(.__wab_instance) {
  position: relative;
}
.svg__qZbV2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tjUxj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__uNqSz {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__keRt3 {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 54ujqX957yeC */;
  text-align: left;
  min-width: 0;
}
.rating__kpbFv:global(.__wab_instance) {
  position: relative;
}
.productCard__sMxkN:global(.__wab_instance) {
  position: relative;
}
.svg___1SrS1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pnRc5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__gfgww {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__jg6QI {
  width: 100%;
  height: auto;
  text-align: left;
  color: #666666 /* plasmic-token: 54ujqX957yeC */;
  min-width: 0;
}
.rating__mqDFr:global(.__wab_instance) {
  position: relative;
}
.section__dnnkE {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(#000000d9, #000000d9),
    url("https://images.unsplash.com/photo-1612902376491-7a8a99b424e8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTZ8fHNob2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60")
      left 50% top 50% / cover;
}
.freeBox__hMo9J {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
.freeBox__hMo9J > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__hMo9J > :global(.__wab_flex-container) > *,
.freeBox__hMo9J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hMo9J > :global(.__wab_flex-container) > picture > img,
.freeBox__hMo9J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hMo9J {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hMo9J > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hMo9J > :global(.__wab_flex-container) > *,
  .freeBox__hMo9J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hMo9J > :global(.__wab_flex-container) > picture > img,
  .freeBox__hMo9J
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__exYsT {
  display: flex;
  flex-direction: column;
}
.freeBox__exYsT > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__exYsT > :global(.__wab_flex-container) > *,
.freeBox__exYsT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__exYsT > :global(.__wab_flex-container) > picture > img,
.freeBox__exYsT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___4XJgs {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___4XJgs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___4XJgs > :global(.__wab_flex-container) > *,
.freeBox___4XJgs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4XJgs > :global(.__wab_flex-container) > picture > img,
.freeBox___4XJgs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__o7Ryi {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
}
.text__iqc33 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  white-space: pre-wrap;
  position: relative;
  color: #cccccc;
  height: auto;
  text-align: center;
}
.freeBox__gCjRw {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__gCjRw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__gCjRw > :global(.__wab_flex-container) > *,
.freeBox__gCjRw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gCjRw > :global(.__wab_flex-container) > picture > img,
.freeBox__gCjRw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gCjRw {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gCjRw > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gCjRw > :global(.__wab_flex-container) > *,
  .freeBox__gCjRw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__gCjRw > :global(.__wab_flex-container) > picture > img,
  .freeBox__gCjRw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.text__qfUq0 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  color: #cccccc;
  height: auto;
  white-space: pre-wrap;
  text-align: center;
}
.svg__nBely {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__roWIw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.emojiValueProps:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.columns {
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 1024px;
  min-width: 0;
  padding: 32px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-wrap: nowrap;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 12px;
  }
}
.column___4RjYb {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value___08Qk1:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__ly05D {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text___2NJgO {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__dxmQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__cElfz:global(.__wab_instance) {
  position: relative;
}
.svg__uVOwT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__z3EAl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__ufl8B {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__fncU:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__sw0B9 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text___9XmVc {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__kyIw5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__fcLc7:global(.__wab_instance) {
  position: relative;
}
.svg__dDj1A {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___6UUd1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__a2Mt7 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__p5ZkG:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__p5ZkG:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text___0TbgC {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__fF2Uy {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__wfg8N {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__vNsty:global(.__wab_instance) {
  position: relative;
}
.svg__lqQ7M {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__h2S5H {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__jg7Vk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  background: #f2f2f7;
}
.container42 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__nqH1G {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__l8Tsy {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__s0SFh:global(.__wab_instance) {
  position: relative;
}
.svg___8OUjb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mYbur {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container5 {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  align-items: center;
  min-width: 0;
}
.freeBox__ztTbu {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 32px;
}
.freeBox__ztTbu > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__ztTbu > :global(.__wab_flex-container) > *,
.freeBox__ztTbu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ztTbu > :global(.__wab_flex-container) > picture > img,
.freeBox__ztTbu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.svg__muf2A {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oHRpx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__uaaDx {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__rDrE {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 54ujqX957yeC */;
  text-align: left;
  min-width: 0;
}
.rating___441Ag:global(.__wab_instance) {
  position: relative;
}
.productCard__ckOi:global(.__wab_instance) {
  position: relative;
}
.svg__wsSu7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zqGcT {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___0HbXv {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__s8Faz {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 54ujqX957yeC */;
  text-align: left;
  min-width: 0;
}
.rating__xfPn6:global(.__wab_instance) {
  position: relative;
}
.productCard__l4ObT:global(.__wab_instance) {
  position: relative;
}
.svg__kOixr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wvUn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__ypgxD {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__x6H37 {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 54ujqX957yeC */;
  text-align: left;
  min-width: 0;
}
.rating__pNehf:global(.__wab_instance) {
  position: relative;
}
.productCard__whJ9Y:global(.__wab_instance) {
  position: relative;
}
.svg__laMu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zYur {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__hfnd5 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__x6JBc {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 54ujqX957yeC */;
  text-align: left;
  min-width: 0;
}
.rating__jO1Ex:global(.__wab_instance) {
  position: relative;
}
.productCard__k2S2J:global(.__wab_instance) {
  position: relative;
}
.svg__diOnR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__m4CBq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__nrVc {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___30AU5 {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 54ujqX957yeC */;
  text-align: left;
  min-width: 0;
}
.rating__ccwUq:global(.__wab_instance) {
  position: relative;
}
.productCard__uHh9K:global(.__wab_instance) {
  position: relative;
}
.svg__uf56Q {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___893Oh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__aMgk1 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__geXvf {
  width: 100%;
  height: auto;
  text-align: left;
  color: #666666 /* plasmic-token: 54ujqX957yeC */;
  min-width: 0;
}
.rating__aIoqW:global(.__wab_instance) {
  position: relative;
}
.section__hemqO {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container6 {
  max-width: 1366px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container6 > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container6 > :global(.__wab_flex-container) > *,
.container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container6 > :global(.__wab_flex-container) > picture > img,
.container6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) > *,
  .container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container6 > :global(.__wab_flex-container) > picture > img,
  .container6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__exLCn {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__exLCn > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__exLCn > :global(.__wab_flex-container) > *,
.freeBox__exLCn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__exLCn > :global(.__wab_flex-container) > picture > img,
.freeBox__exLCn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__bKKs1 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__gz3Ec:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__lWj8T {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__hfaV1 {
  height: auto;
}
.svg__awePh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__o4TF1:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__vhtAe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hth7X {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__k37Dg:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__g9Fhr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ka5Pj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__yab4D:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg___9ZDVo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__w3TeM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__p4Ew0:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg___0Vflh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yTXmj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__faq87:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__pMmsd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__wiNbS {
  height: auto;
}
.svg__y918 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__qggLx {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__qggLx > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__qggLx > :global(.__wab_flex-container) > *,
.freeBox__qggLx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qggLx > :global(.__wab_flex-container) > picture > img,
.freeBox__qggLx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qggLx > :global(.__wab_flex-container) {
    justify-content: center;
  }
}
.productCard__fD1H0:global(.__wab_instance) {
  position: relative;
}
.svg__rgKhS {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bigTx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__rZf2T {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__tStny {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 54ujqX957yeC */;
  text-align: left;
  min-width: 0;
}
.rating__kpIuK:global(.__wab_instance) {
  position: relative;
}
.productCard___1Gpsy:global(.__wab_instance) {
  position: relative;
}
.svg__wZn6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5H9Qe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__npjhu {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__lQu3R {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 54ujqX957yeC */;
  text-align: left;
  min-width: 0;
}
.rating__fCnpi:global(.__wab_instance) {
  position: relative;
}
.productCard__nk43V:global(.__wab_instance) {
  position: relative;
}
.svg__p6CpM {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hzoP0 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__uRa7 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__bMxEk {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 54ujqX957yeC */;
  text-align: left;
  min-width: 0;
}
.rating___8Qa2A:global(.__wab_instance) {
  position: relative;
}
.productCard__jmr8:global(.__wab_instance) {
  position: relative;
}
.svg__lSbU {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qj1L1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__auvoG {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__e7OlT {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 54ujqX957yeC */;
  text-align: left;
  min-width: 0;
}
.rating__pbwJ:global(.__wab_instance) {
  position: relative;
}
.productCard__iaVfV:global(.__wab_instance) {
  position: relative;
}
.svg__t4D6C {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oKZkq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__gTi0Z {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___8D0Gp {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 54ujqX957yeC */;
  text-align: left;
  min-width: 0;
}
.rating__vfea0:global(.__wab_instance) {
  position: relative;
}
.productCard__doW5K:global(.__wab_instance) {
  position: relative;
}
.svg__kM7Rb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vdiYl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__dYctk {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__spCk8 {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 54ujqX957yeC */;
  text-align: left;
  min-width: 0;
}
.rating__eoqrO:global(.__wab_instance) {
  position: relative;
}
.productCard__kLghd:global(.__wab_instance) {
  position: relative;
}
.svg__mi18W {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__c8Llp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___8Mb2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__qfIUo {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 54ujqX957yeC */;
  text-align: left;
  min-width: 0;
}
.rating__uBq3:global(.__wab_instance) {
  position: relative;
}
.productCard__o9MvL:global(.__wab_instance) {
  position: relative;
}
.svg___0W31I {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cejMx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__yqNf3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__maTs {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 54ujqX957yeC */;
  text-align: left;
  min-width: 0;
}
.rating__serGw:global(.__wab_instance) {
  position: relative;
}
.productCard__sxx5Y:global(.__wab_instance) {
  position: relative;
}
.svg___9Zowp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xdL9E {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__u7SFc {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__jAdWp {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 54ujqX957yeC */;
  text-align: left;
  min-width: 0;
}
.rating__txVBp:global(.__wab_instance) {
  position: relative;
}
.productCard__jQ0:global(.__wab_instance) {
  position: relative;
}
.svg__a0Maj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__m4Uw3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__bN85 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__lmbO8 {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 54ujqX957yeC */;
  text-align: left;
  min-width: 0;
}
.rating__iTvVe:global(.__wab_instance) {
  position: relative;
}
.productCard__gzmny:global(.__wab_instance) {
  position: relative;
}
.svg__lcAwh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dGtx9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__nsArk {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__vmlVq {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 54ujqX957yeC */;
  text-align: left;
  min-width: 0;
}
.rating__k46Rd:global(.__wab_instance) {
  position: relative;
}
.productCard__trUc7:global(.__wab_instance) {
  position: relative;
}
.svg__cLyox {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__b6Z5G {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__lApsi {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__mii6O {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 54ujqX957yeC */;
  text-align: left;
  min-width: 0;
}
.rating__i2Xso:global(.__wab_instance) {
  position: relative;
}
.section__quWTo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#00000080, #00000080),
    url("https://images.unsplash.com/photo-1552346154-21d32810aba3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80")
      left 50% top 50% / cover;
}
.container434 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container434 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container434 > :global(.__wab_flex-container) > *,
.container434 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container434 > :global(.__wab_flex-container) > picture > img,
.container434
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.value__cwe5:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__gPx62 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  width: 100%;
  height: auto;
  color: #ffffff;
  min-width: 0;
}
.text___14R2W {
  color: #cccccc;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__o3OhP {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__srk8B:global(.__wab_instance) {
  position: relative;
}
.svg__ytwaz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1Viwc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__jewkP {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
}
.container433 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.container433 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > *,
.container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container433 > :global(.__wab_flex-container) > picture > img,
.container433
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 {
    display: flex;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > *,
  .container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container433 > :global(.__wab_flex-container) > picture > img,
  .container433
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.column__s9Ue7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.value___9YmOi:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value___9YmOi:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__cNrzK {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__sY5By {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__untnP:global(.__wab_instance) {
  position: relative;
}
.svg__tVqJf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5T9Fy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___2ZGmr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__m2VB6:global(.__wab_instance) {
  position: relative;
}
.svg__sbJ1I {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1Axo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__xd8Gn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.value__cG4Sj:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__cG4Sj:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__dn299 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__y3Az9 {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__hRWuL:global(.__wab_instance) {
  position: relative;
}
.svg___9EEoT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xTdbr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__vem17 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__kC8S:global(.__wab_instance) {
  position: relative;
}
.svg__v9Pk4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__awtGa {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__vgGwS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.value__juepV:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__juepV:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__urVv3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__rw9Uv {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__uxCkg:global(.__wab_instance) {
  position: relative;
}
.svg__ddmyJ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hXqIe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__vvvz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__qnLtq:global(.__wab_instance) {
  position: relative;
}
.svg__vTsa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uXSb4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__yjDac {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.value__xixMc:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__xixMc:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__izt9N {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text___9AOo4 {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__rjbGh:global(.__wab_instance) {
  position: relative;
}
.svg__xGBvx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lKpMw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__jTbU8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__vdrN:global(.__wab_instance) {
  position: relative;
}
.svg__r1MnS {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jxoOa {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
