.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #1c1c1e;
}
.freeBox__aG1O1 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__aG1O1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__aG1O1 > :global(.__wab_flex-container) > *,
.freeBox__aG1O1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aG1O1 > :global(.__wab_flex-container) > picture > img,
.freeBox__aG1O1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.value__gCPju:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__oaAdJ {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__wsBou {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__vmfF6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__dCDrx:global(.__wab_instance) {
  position: relative;
}
.svg___7PYyT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tEV {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.value___4XAdO:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__rc6Pw {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__zkeey {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__c0H3N {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button___3Jpyg:global(.__wab_instance) {
  position: relative;
}
.svg___28Bel {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bmS3O {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.value___4SnG5:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__jkPgf {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__cufwK {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__sdF1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__lkfZj:global(.__wab_instance) {
  position: relative;
}
.svg__plqm3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mmaQl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
